@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

body{
    background-color: #000000;
    opacity: 1;
    background-image:  linear-gradient(30deg, #521c81 12%, transparent 12.5%, transparent 87%, #521c81 87.5%, #521c81), linear-gradient(150deg, #521c81 12%, transparent 12.5%, transparent 87%, #521c81 87.5%, #521c81), linear-gradient(30deg, #521c81 12%, transparent 12.5%, transparent 87%, #521c81 87.5%, #521c81), linear-gradient(150deg, #521c81 12%, transparent 12.5%, transparent 87%, #521c81 87.5%, #521c81), linear-gradient(60deg, #521c8177 25%, transparent 25.5%, transparent 75%, #521c8177 75%, #521c8177), linear-gradient(60deg, #521c8177 25%, transparent 25.5%, transparent 75%, #521c8177 75%, #521c8177);
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
    font-family: 'Cairo', sans-serif
}

.c1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

img{
    width: 500px;
    height: 500px;
    margin-top: 2rem;
}

.card{
    background: rgba(255, 255, 255, 0.192);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid rgba(43, 43, 43, 0.568);
    width: 70%;
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size: 12px;
    padding: 0 2rem;
    margin-top: 2rem;
}

::-webkit-scrollbar{
    display: none;
}
